PORT=3001
FRONTEND_URL=http://localhost:5173

SUPABASE_URL=https://siprplhdenznrzfuecvx.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNpcHJwbGhkZW56bnJ6ZnVlY3Z4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg0OTI5MTAsImV4cCI6MjA5NDA2ODkxMH0.HJP9e_Dy0PsWxH1ay80ekMgQmVdhdFgkLLPPxJyBASM
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNpcHJwbGhkZW56bnJ6ZnVlY3Z4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODQ5MjkxMCwiZXhwIjoyMDk0MDY4OTEwfQ.tQWTcnO6qBz8QRnbvVwGkPAyVBOsql0--Obrdz_oD2I